body {
	background-image: url('./image/balloon.jpg');
	background-size: cover;
	color: #ffffff;

	height: 100vh;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1 {
	font-size: 3.5em;
}

.countdown {
	display: inline-block;
	font-size: 1.6em;
	padding: 1em;
}

.countdown span {
	display: flex;
	justify-content: center;
	font-size: 4em;
}